---
import SpotlightCard from "@/bits/SpotlightCard/SpotlightCard";
import AnimatedContent from "@/bits/AnimatedContent/AnimatedContent";
import { Button } from "./ui/button";
import { ArrowRight, FileDown } from "lucide-react";
import { Image } from "astro:assets";
import IcRekuDark from "@/images/react_svg/ic_reku_dark";
import IcRekuLight from "@/images/react_svg/ic_reku_light";
import IcBnisDark from "@/images/react_svg/ic_bnis_dark";
import IcBnisLight from "@/images/react_svg/ic_bnis_light";
import IcAndalDark from "@/images/react_svg/ic_andal_dark";
import IcAndalLight from "@/images/react_svg/ic_andal_light";

const experiences = [
    {
        lightLogo: IcBnisLight,
        darkLogo: IcBnisDark,
        techStack: [
            {
                name: "Flutter",
                icon: "devicon-flutter-plain colored mr-2 text-xl",
            },
            {
                name: "Dart",
                icon: "devicon-dart-plain colored mr-2 text-xl",
            },
            {
                name: "Git",
                icon: "devicon-git-plain colored mr-2 text-xl",
            },
            {
                name: "GitLab",
                icon: "devicon-gitlab-plain colored mr-2 text-xl",
            },
            {
                name: "Swift",
                icon: "devicon-swift-plain colored mr-2 text-xl",
            },
            {
                name: "Kotlin",
                icon: "devicon-kotlin-plain colored mr-2 text-xl",
            },
            {
                name: "Firebase",
                icon: "devicon-firebase-plain colored mr-2 text-xl",
            },
        ],
        company: "PT BNI Sekuritas",
        companyUrl: "https://www.bnisekuritas.co.id/",
        role: "Mobile Developer",
        duration: "September 2024 - Present",
        location: "South Jakarta, Indonesia",
        achievements: [
            "Contributor and one of Team Lead of new BIONS Mobile App, a trading application built with Flutter.",
            "Proficient in Flutter, SDLC, and Git for efficient app development.",
            "Skilled in designing and implementing user-centric trading features.",
            "Experienced in mentoring teams and driving agile development processes.",
            "Passionate about building scalable and innovative mobile applications.",
        ],
        role_url: "/bnis_role/",
    },
    {
        lightLogo: IcRekuLight,
        darkLogo: IcRekuDark,
        techStack: [
            {
                name: "Flutter",
                icon: "devicon-flutter-plain colored mr-2 text-xl",
            },
            {
                name: "Dart",
                icon: "devicon-dart-plain colored mr-2 text-xl",
            },
            {
                name: "Git",
                icon: "devicon-git-plain colored mr-2 text-xl",
            },
            {
                name: "GitHub",
                icon: "devicon-github-plain colored mr-2 text-xl",
            },
            {
                name: "Swift",
                icon: "devicon-swift-plain colored mr-2 text-xl",
            },
            {
                name: "Kotlin",
                icon: "devicon-kotlin-plain colored mr-2 text-xl",
            },
            {
                name: "Firebase",
                icon: "devicon-firebase-plain colored mr-2 text-xl",
            },
        ],
        company: "Reku.id",
        companyUrl: "https://reku.id/",
        role: "Mobile Developer",
        duration: "August 2022 - June 2024",
        location: "South Jakarta, Indonesia",
        achievements: [
            "Contribute to maintain and enhancing new feature on Reku (Rekeningku) crypto trading marketplace mobile application using Flutter",
            "Developing the Reku (Rekeningku) mobile application",
            "Contribute to developing new product that Reku will release",
            "Testing and bug fixing the Reku (Rekeningku) mobile application",
        ],
        role_url: "/reku_role/",
    },
    {
        lightLogo: IcAndalLight,
        darkLogo: IcAndalDark,
        techStack: [
            {
                name: "C#",
                icon: "devicon-csharp-plain colored mr-2 text-xl",
            },
            {
                name: "ASP.NET Core",
                icon: "devicon-dotnetcore-plain colored mr-2 text-xl",
            },
            {
                name: "TypeScript",
                icon: "devicon-typescript-original colored mr-2 text-xl",
            },
            {
                name: "Angular",
                icon: "devicon-angularjs-plain colored mr-2 text-xl",
            },
            {
                name: "Git",
                icon: "devicon-git-plain colored mr-2 text-xl",
            },
            {
                name: "Azure",
                icon: "devicon-azure-plain colored mr-2 text-xl",
            },
            {
                name: "PostgreSQL",
                icon: "devicon-postgresql-plain colored mr-2 text-xl",
            },
            {
                name: "Apache Kafka",
                icon: "devicon-apachekafka-plain  mr-2 text-xl",
            },
        ],
        company: "Andal Software",
        companyUrl: "https://andalsoftware.com/",
        role: "Fullstack Developer",
        duration: "February 2021 - July 2022",
        location: "Central Jakarta, Indonesia",
        achievements: [
            "Contribute to developing HRIS Web-based Software called Andal Kharisma using ASP .NET Web API as Service and Angular as Frontend",
            "Developing API for the Angular Web Frontend and for the Mobile Application called Andal Connect",
        ],
        role_url: "/andal_role/",
    },
];
---

<section id="experience" style="scroll-margin-top: 18px;">
    <div class="mx-auto max-w-4xl py-12 px-6 space-y-4">
        <AnimatedContent client:load>
            <h2
                class="text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl mb-8 text-center"
            >
                Where I've Worked 💼
            </h2>
        </AnimatedContent>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
            {
                experiences.map((exp, idx) => (
                    <AnimatedContent client:load>
                        <SpotlightCard
                            spotlightColor="rgba(0, 229, 255, 0.2)"
                            client:load
                            className="h-full p-4"
                        >
                            <div>
                                <div class="flex flex-col space-y-1.5 pb-6">
                                    <a
                                        href={exp.companyUrl}
                                        target="_blank"
                                        class="w-fit"
                                    >
                                        <div class="flex items-center gap-2 mb-2">
                                            <div class="dark:hidden">
                                                <exp.lightLogo className="w-32" />
                                            </div>
                                            <div class="hidden dark:block">
                                                <exp.darkLogo className="w-32" />
                                            </div>
                                        </div>
                                    </a>
                                    <h3 class="text-2xl font-semibold leading-none tracking-tight">
                                        {exp.role}
                                    </h3>
                                    <p class="text-sm text-muted-foreground">
                                        {exp.company} • {exp.duration} •{" "}
                                        {exp.location}
                                    </p>
                                    <div class="flex flex-wrap gap-2 mt-2">
                                        {exp.techStack.map((skill) => (
                                            <span class="inline-flex items-center rounded-full border px-3 py-1 text-sm font-medium bg-secondary text-secondary-foreground">
                                                <i class={skill.icon} />
                                                {skill.name}
                                            </span>
                                        ))}
                                    </div>
                                </div>
                                {/* <div class="p-0">
                                    <ul class="list-disc space-y-2 pl-4 text-sm text-muted-foreground">
                                        {exp.achievements.map((achievement) => (
                                            <li>{achievement}</li>
                                        ))}
                                    </ul>
                                </div> */}

                                <div class="flex justify-end mt-4">
                                    <Button
                                        variant="outline"
                                        className="bg-white/50 backdrop-blur-none cursor-pointer"
                                    >
                                        <a href={exp.role_url}>
                                            What i do in this role?
                                        </a>
                                        <ArrowRight />
                                    </Button>
                                </div>
                            </div>
                        </SpotlightCard>
                    </AnimatedContent>
                ))
            }
        </div>
    </div>
</section>
